<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/masterannonce</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">juba</property>

        <!-- Dialect spécifique à PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Gérer la création/mise à jour des tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Activer les logs des requêtes SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Définition des classes à mapper -->
        <mapping class="modeles.Annonce"/>
    </session-factory>
</hibernate-configuration>
